[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "forge/lib/openzeppelin-contracts"]
	path = forge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "forge/lib/openzeppelin-contracts-upgradeable"]
	path = forge/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "forge/lib/openzeppelin-foundry-upgrades"]
	path = forge/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "forge/lib/foundry-chainlink-toolkit"]
	path = forge/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "forge/lib/chainlink"]
	path = forge/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
